@import url(reset.css);
@import url(variables.css);

/*components*/
@import url(components/header.css);

/*screen*/
@import url(screens/nav.css);
@import url(screens/trending.css);
@import url(screens/studio.css);

body {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  color: inherit;
}


.hidden{
  display: none;
}